body {
  font-family: "Inter", sans-serif;
  background-image: url(image/background.jpg);
  image-rendering: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
}

section {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 27%;
  padding: 2rem 2.4rem;
}

h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 2rem;
  font-weight: 600;
}

.sum {
  font-size: 80px;
  font-weight: 700;
  margin-left: -5px;
}

.text {
  margin-left: -5px;
  font-weight: 300;
}

.dollar {
  font-weight: 300;
}

.price {
  margin-bottom: 1rem;
}

.desc {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.liText {
  margin-left: 8px;
}

ul {
  font-size: 20px;
}

li {
  margin-bottom: 1rem;
  line-height: 1.2;
}

.btn {
  margin-top: 3rem;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 6px;
  padding: 1rem 2rem;
  width: 180px;
}

.lateral {
  height: 680px;
}

.center {
  height: 720px;
}

.second {
  margin-top: 4rem;
}

.third {
  margin-top: 1rem;
}
