

html {
    font-family: Helvetica, sans-serif;
    font-size: 23px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    background-color: rgb(238, 238, 238);
    margin: 3rem 8rem;
}

body>header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    flex-basis: 100%;
    justify-content: left;
}

section {
    display: flex;
    flex-wrap: wrap;
}

a {
    color:rgb(0, 153, 0);
    text-decoration: none;

}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 3px solid black;
    padding: 4px;
    margin: 0;
}

h1 {
    font-family: Georgia, serif;
    font-size: 2rem;
    font-weight: 700;
}

h2, h3 {
    font-family: Georgia, serif;
    font-size: 1.5rem;
    font-weight: 500;
}


aside li {
    list-style-type: square;
    line-height: 20px;
}


main {
    justify-content: left;
}

aside {
    vertical-align: top;
    margin-left: 30px;
    justify-content: right;
}

.blockquote-box {
    display: block;
    margin: 0;
}


article:nth-child(1) > div > img {
    display: flex;
    float: right;
    width: 150px;
    margin: 0 0 10px 10px;
    flex: 1 1 auto;
}

article:nth-child(3) > div >img {
    display: flex;
    float: left;
    width: 160px;
    margin: 0px 10px 10px 0px;
    flex: 1 1 auto;
}



blockquote {
    border-left: 2px solid gray;
    font-style: italic;
    font-family: Georgia, serif;
    color: gray;
    margin: 0;
    padding-left: 20px;
    margin-left: 20px;
    width: 50%;
    float: right;
}

blockquote p:nth-child(2) {
    
    float: right;
  }

.all {
    display: flex;
    flex-wrap: nowrap;
}

main {
    width: 100%;
}
/* 
aside {
    width: 25%;
} */

header>p {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

@media screen and (max-width: 1800px) {
    html {
        font-size: 21px;
    }
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 18px;
    }
    body {
        margin: 3rem 3rem;
    }
    article:nth-child(1) > div > img {
        width: 112px;
    }
    
    article:nth-child(3) > div >img {
        width: 129px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 16px;
    }

    article:nth-child(1) > section > img {
            width: 164px;
    }
    
    article:nth-child(3) > section >img {
        width: 192px;
    }
    
    
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    article:nth-child(1) > section > img {
            width: 164px;
    }
    
    article:nth-child(3) > section >img {
        width: 192px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}
@media screen and (max-width: 414px) {
    html {
        font-size: 12px;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    article:nth-child(1) > section > img {
        margin: 0;
    }
    
    article:nth-child(3) > section > img {
        margin: 0;
    }
    article>header>h2 {
        margin-bottom: 5px;
    }
    .blockquote-box {
        display: flex;
    }
    blockquote {
        width: 100%;
    }
}