
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    
    font-family: sans-serif;
}

form {
    margin: 50px auto;
    width: 600px;
}
 
fieldset {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;

    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
}
 fieldset p {
    display: flex;
 }
.input {
    width: 70%;
}
legend {
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: -0.9rem;
    left: -0.06rem;
    padding: 0.3rem 4rem 0.3rem 0.5rem;
    
    font-size: 12px;
    font-weight:600;
    background-color: rgb(245, 245, 245);
}

.username label {
    font-size: 12px;
    font-weight: 900;
    margin-right: 10px;
}

.password label {
    font-size: 12px;
    font-weight: 900;
    margin-right: 14px;
}


input {
    outline: none;
  }
  
input[type="text"],
input[type="password"] {
  border-radius: 0.3em;
  border: 1px solid #999999;
  padding: 0.4em 0.7em 0.4em 2.2em;
  margin-bottom: 1em;
}

input[type="submit"] {
  padding: 0.1em 0.2em;
  width: 50px;
  border-radius: 2px;
  
  background-color: rgb(59, 59, 59);
  color: white;
  font-weight: 900;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="submit"]:hover {
  border-color: #009900;
}

i {
    padding-top: 6px;
    position: absolute;
    left: 110px;
}

.button {
    margin: 0 auto 0 0 ;
}

input:focus + i {
  color: #009900;
}

  /* ------------- LAPTOP -----------*/ 
@media screen and (max-width: 1080px) {
    form {
        width: 500px;
    }
    i {
        left: 106px;
    }
}
 


 /*------------- TABLET -----------*/
 @media screen and (max-width: 800px) {
    form {
      width: 70%;
      margin: 70px auto;
    }
    p {
        display: flex;
        flex-direction: column;
    }
    label {
        flex-basis: 100%;
    }
    i {
      left: 30px;
      margin-top: 16px;
    }
    
  }

/*------------- PHONE ------------*/
@media (min-width: 350px) {
    form {
      width: 80%;
    }
    
  }
 