body {
    text-align: center;
}

h1 {
    font-family: "Sentinel SSm A", "Sentinel SSm B", Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
    line-height: 1.15;
    color: #747474
}

span {
    font-family: "Graphik Semibold Web", "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;

}   

p {
    font-family: "Graphik Regular Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}